{% extends 'home.html' %}

{% block content %}

    <h1>Incidences Reported by Public</h1>

   <div class="container">


<br>

<div class="card">
<div class="card-title">Urgent Reports</div>
<div class="card-body">
    {% for report in reports %}
<hr>
        {% if report.upvotes > report.downvotes %}
    <p><strong>Description:</strong> {{report.desc}}</p>
    <p><strong>Locality:</strong> {{report.locality}}</p>
        <div class="row mb-2">
        {%endif%}

</div>

{% endfor %}

</div>

</div>
</div>


{% endblock %}